<!-- Generated template for the RestaurantRecommendationComponent component -->

<ion-card class="get-served-card">
  <ion-card-content>

    <div class="hotel-image">
      <img [src]="data.photos">
      <div class="image-text">2.5 km</div>
    </div>
    
    <ion-row>
      <ion-col>
          <div class="title"> {{data.name}} </div>
      </ion-col>

      <ion-col col-5>
        <div class="rating">
            <ion-icon *ngFor="let item of dataRate" name="{{item.vlaue ? 'star' : 'star-outline'}}" color="red"></ion-icon>
            <!-- <ion-icon name="star-outline" color="red"></ion-icon> -->
        </div>
      </ion-col>

    </ion-row>

    <ion-row >
      <ion-col>
          <div class="address">{{data.location.country}}, {{data.location.state}}, {{data.location.city}}, {{data.location.street}}, {{data.location.postcode}}</div>
      </ion-col>
    </ion-row>

    


  </ion-card-content>
</ion-card>
