<!-- Generated template for the RestaurantRecommendationComponent component -->

<ion-card class="get-served-card">
  <ion-card-content>

    <div class="hotel-image">
      <img src="./assets/imgs/restaurant-default.jpg">
      <div class="image-text">2.5 km</div>
    </div>
    
    <ion-row>
      <ion-col>
          <div class="title"> Indian Villa </div>
      </ion-col>

      <ion-col col-5>
        <div class="rating">
            <ion-icon name="star" color="red"></ion-icon>
            <ion-icon name="star" color="red"></ion-icon>
            <ion-icon name="star" color="red"></ion-icon>
            <ion-icon name="star-half" color="red"></ion-icon>
            <ion-icon name="star-outline" color="red"></ion-icon>
        </div>
      </ion-col>

    </ion-row>

    <ion-row >
      <ion-col>
          <div class="address">SCO 17, 18, C-Block, Ranjit Avenue, Amritsar, Punjab</div>
      </ion-col>
    </ion-row>

    


  </ion-card-content>
</ion-card>
